# To add
DEPLOYER_PRIVATE_KEY=
RELAYER_ADDRESS=

# Configurations
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc

# relayer = 0xeA677E3Bb84a3FF1294f353a32B4d4Ef5393a2B5 = 7 ETH on Base Sepolia
# user = 0xc064f535c1E0c2642326446070a10d0452cCf5fF = 1 ETH on Base Sepolia