# Chain connection configs
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc

# Relayer core configs
RELAYER_PRIVATE_KEY=0x

# 
BASE_BRIDGE_ADDRESS=
ARBITRUM_BRIDGE_ADDRESS=
BASE_DEPLOY_BLOCK=
ARBITRUM_DEPLOY_BLOCK=
CONFIRMATIONS=5
POLL_INTERVAL_MS=4000
STATE_FILE=./state.json
